html {
  scroll-behavior: smooth;

  // Change text selection background color
  ::selection {
    @extend .text-white;
    @extend .bg-primary;
  }
}

/*
** Extending bootstrap
*/
.v-center {
  @extend .d-flex,
    .justify-content-center,
    .align-items-center,
    .flex-column,
    .m-0,
    .my-auto;
}

.min-vh-75 {
  min-height: 75vh !important;
}

// Set custom font
.font-righteous {
  font-family: "Righteous", cursive !important;
}
